.qs {
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/images/background.svg');
  background-size:cover;
}

.qs-content {
  width: 100%;
  height: var(--util-height);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.qs-content-img1 {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  background-image: url('../../assets/images/coffee.webp');
  background-size: cover;
  background-position: center;
}
.qs-content-img2 {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow:hidden;
  background-image: url('../../assets/images/girls-tech.webp');
  background-size: cover;
  background-position: center;
}

.qs-content-txt{
  position: absolute;
  top: 5rem;
  left: 5rem;
  right: 5rem;
  font-weight: 600;
  font-size: 2.5rem;
  font-weight: 400;
  color: white;
  text-shadow: 1px 1px 1px var(--font-color);
}

@media (max-width: 700px) {
  .qs-content {
    grid-template-columns: 1fr;
    }

  .qs-content-txt{
    top: 2rem;
    left: 2rem;
    right: 2rem;
    font-size: 2rem;
  }

  .qs-content-img1 {
    background-image: url('../../assets/images/coffee-small.webp');
  }
  .qs-content-img2 {
    background-image: url('../../assets/images/girls-tech-small.webp');
  }
}