.quem-container {
  width: 100%;
  height: var(--util-height);
  background-image: url('../../assets/images/background.svg');
  background-size:cover;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.quem-img {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.quem-img div:nth-child(1) {
  width: 100%;
  height: 100%;
}

.quem-txt {
  width: 50%;
  padding: 6rem;
}

.quem-txt p {
  margin-bottom: 15px;
  text-align: justify;
}

.quem-txt h2, h4 {
  margin-bottom: 15px;
}

.quem-item {
  display: grid;
  grid-template-columns: 1fr 10fr;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 10px;
}

.quem-map {
  width: auto;
  height: auto;
  padding: 5px;
}

.quem-map iframe {
  width: 100%;
  min-height: 220px;
  border: none;
  border-radius: 5px;
}

.quem-social {
  display: flex;
  align-items: center;
  justify-content: left;
}

.quem-social a {
  text-decoration: none;
  color: var(--font-color);
  padding: 0 10px;
}

.quem-info a {
  text-decoration: none;
  color: var(--font-color);
}

@media (max-width: 700px) {
  .quem-container {
    width: 100%;
    min-height: var(--util-height);
    flex-direction: column;
  }

  .quem-txt {
    padding: 4rem;
    width: 100%;
    height: 100%;
  }

  .quem-img {
    width: 100%;
    height: 100%;
  }
}