body {
  margin: 0;
  padding: 0;
  color: var(--font-color);
}

.navbar {
  width: 100%;
  height: var(--menu-height);
  position: fixed;
  z-index: 1;
  background-color: var(--menu-color);
  box-shadow: 1px 1px 10px 1px var(--gray-beek);
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-padding {
  width: 100%;
  height: var(--menu-height);
}

.logo img {
 width: 120px;
}

.menu-icon {
  display: none;
}
.menu-icon img {
  width: 40px;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.menu-item:not(:last-child):not(:last-child) {
  margin-right: 10px;
}

.menu-item a.active {
  color: var(--blue-beek);
  font-weight: 500;
  position: relative;
}

.menu-item a {
  font-size: 2rem;
  font-weight: 400;
  color: var(--font-color);
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 1rem;
  color: var(--primary-color);
  position: relative;
}

.menu-item a::after {
  content: '';
  position: absolute;
  bottom: 0.6rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: var(--blue-beek);
  transition: all 300ms ease-in-out;
}

.menu-item a:hover::after {
  width: 50%;
  left: 25%;
}

@media (max-width: 700px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .menu-container {
    position: absolute;
    width: 0px;
    height: calc(100vh - var(--menu-height));
    top: var(--menu-height);
    right: 0;
    background-color: var(--menu-color);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .menu-container.active {
    width: 270px;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
  }

  .menu-item {
    margin-right: unset;
    margin-top: 22px;
  }
}