.site-container {
  width: 100%;
  height: var(--util-height);
  background-image: url('../../assets/images/background.jpg');
  background-size: contain;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.site-img {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.site-img div:nth-child(1) {
  width: 100%;
  height: 100%;
}

.site-txt {
  width: 50%;
  padding: 6rem;
  overflow: scroll;
}

.site-txt p {
  margin-bottom: 15px;
  text-align: justify;
}

.site-txt h2, h4 {
  margin-bottom: 15px;
}

.site-item {
  display: grid;
  grid-template-columns: 1fr 10fr;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 10px;
}

.site-map {
  width: auto;
  height: auto;
  padding: 5px;
}

.site-map iframe {
  width: 100%;
  min-height: 220px;
  border: none;
  border-radius: 5px;
}

.site-social {
  display: flex;
  align-items: center;
  justify-content: left;
}

.site-social a {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0 10px;
}

.site-info a {
  text-decoration: none;
  color: var(--secondary-color);
}

@media (max-width: 700px) {
  .site-container {
    width: 100%;
    min-height: auto;
    flex-direction: column;
  }

  .site-txt {
    padding: 4rem;
    width: 100%;
    height: 100%;
  }

  .site-img {
    width: 100%;
    height: 320px;
  }
}